<h1>Listing all Requests</h1>

<table class="index_table">
    <thead>
    <tr>
      <th><%="id".upcase%></th>
      <th><%="Name".upcase%></th>
      <th><%="category".upcase%></th>
      <th><%="Target Date".upcase%></th>
      <th><%="status".upcase%></th> 
        
    </tr>
  </thead>
  <tbody>
    <% @bhpb_forms.each do |bhpb_form| %>
      <%if bhpb_form.id.to_i != 60 && bhpb_form.id.to_i != 67 && bhpb_form.id.to_i != 68 && bhpb_form.id.to_i >= 139  %>
        <tr>
          <td><%=link_to bhpb_form.id.to_i + 1944, bhpb_form, :target => "_blank"%></td>
          <td><%=truncate(bhpb_form.name,:ommision => "...", :length => 15)%></td>
          <td><%= bhpb_form.category_type %></td>
          <td><%= bhpb_form.target_date %></td>
          <td><%= form_for bhpb_form do |f| %>
                  <%=f.select(:job_status, ['Open','Quoted','Production','Closed'], { }, { :onchange => "this.form.submit()" }) %>
              <%end%>
           </td>
        </tr>
       <% end %>
       <%if bhpb_form.id.to_i != 60 && bhpb_form.id.to_i != 67 && bhpb_form.id.to_i != 68 && bhpb_form.id.to_i < 139  %>
        <tr>
          <td><%=link_to bhpb_form.id.to_i + 1975, bhpb_form, :target => "_blank"%></td>
          <td><%=truncate(bhpb_form.name,:ommision => "...", :length => 15)%></td>
          <td><%= bhpb_form.category_type %></td>
          <td><%= bhpb_form.target_date %></td>
          <td><%= form_for bhpb_form do |f| %>
                  <%=f.select(:job_status, ['Open','Quoted','Production','Closed'], { }, { :onchange => "this.form.submit()" }) %>
              <%end%>
           </td>
        </tr>
       <% end %>  
    <% end %>
  </tbody>
</table>
<br>
<div class="index_btn">
  <%= link_to 'New Bhpb Request', new_bhpb_form_path, class: "btn" %>  
  <%= link_to "Download as CSV", bhpb_forms_path(:format => "csv"), class: "btn" %>
</div>