<%= javascript_include_tag "bhpb_forms" %>
<%= javascript_include_tag "bootstrap-datepicker" %>

<script>
  $(function() {$('.datepicker').datepicker({dateFormat: 'mm/dd/yyyy'});});
</script>
 <div id="form-container">
<%= form_for(@bhpb_form) do |f| %>
  <% if @bhpb_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bhpb_form.errors.count, "error") %> prohibited this from being saved:</h2>
      <ul>
      <% @bhpb_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <h1>New Graphic Request</h1>
    <div>
      <label for="name" class="required"><b>*</b>Req For Name</label>
      <%if !current_user.name.nil?%>
        <%= f.text_field :name,:value=>"#{current_user.name}"%>
      <% else %>
        <%= f.text_field :name, :placeholder=>"Full Name"%>
      <% end %>
    </div>
    <div>
      <label for="email">Req For Email</label>
      <%if !current_user.email.nil?%>
        <%= f.email_field(:email,:value=>"#{current_user.email}") %>
      <% else %>
        <%= f.email_field(:email,:placeholder=>"Email") %>
      <% end %>
    </div>
    <div>
      <label for="phone" class="required"><b>*</b>Req for Phone</label>
      <%if !current_user.phone.nil?%>
        <%= f.telephone_field(:phone,:value=>"#{current_user.phone}") %>
      <% else %>
        <%= f.telephone_field(:phone,:placeholder=>"Phone Number") %>
      <% end %>
    </div>
    <div>
      <label for="category_type" class="required"><b>*</b>Category</label>
      <%= f.select(:category_type) do %>
        <option value=""></option>
        <option value="Graphics" id="cat-graphics">Graphics</option>
        <option value="Printing and Duplicating" id="cat-print-dupe">Printing and Duplicating</option>
      <% end %>
    </div>
    <div>
      <label for="activity" class="required"><b>*</b>Activity</label>
      <%= f.select(:activity) do %> <% end %>
    </div>
    <div>
      <label for="csg" class="required"><b>*</b>CSG</label>
      <%= f.select(:csg) do %>
        <% if current_user.csg == "Petroleum" %>
          <option value='Petroleum' selected>Petroleum</option>
          <option value='CSC'>CSC</option>
          <option value='Corporate'>Corporate</option>
          <option value='Marketing'>Marketing</option>
          <option value='Unknown'>Unknown</option>
        <% elsif current_user.csg == "CSC" %>
          <option value='Petroleum'>Petroleum</option>
          <option value='CSC' selected>CSC</option>
          <option value='Corporate'>Corporate</option>
          <option value='Marketing'>Marketing</option>
          <option value='Unknown'>Unknown</option>
        <% elsif current_user.csg == "Corporate" %>
          <option value='Petroleum'>Petroleum</option>
          <option value='CSC'>CSC</option>
          <option value='Corporate' selected>Corporate</option>
          <option value='Marketing'>Marketing</option>
          <option value='Unknown'>Unknown</option> 
        <% elsif current_user.csg == "Marketing" %>  
          <option value='Petroleum'>Petroleum</option>
          <option value='CSC'>CSC</option>
          <option value='Corporate'>Corporate</option>
          <option value='Marketing'selected>Marketing</option>
          <option value='Unknown'>Unknown</option>      
        <% else %>
          <option value='Petroleum'>Petroleum</option>
          <option value='CSC'>CSC</option>
          <option value='Corporate'>Corporate</option>
          <option value='Marketing'>Marketing</option>
          <option value='Unknown'selected>Unknown</option>   
        <% end %> 
      <% end %> 
    </div>
    <div>
      <label for="department">Department</label>
       <%if !current_user.dept.nil?%>
        <%= f.text_field :department, :type=>"text",:value=>"#{current_user.dept}"%>
      <% else %>
        <%= f.text_field :department, :type=>"text",:placeholder=>"Department"%>
      <% end %>
    </div>
    <div>
      <label for="summary" class="required"><b>*</b>Summary</label>
      <%= f.text_field :summary,:required => true, :placeholder=>"Summary"%>
    </div>
    <div>
      <label for="description" class="required"><b>*</b>Detailed Description</label>
      <%= f.text_area :description, :type=>"text",:placeholder=>"Enter a detailed description",:rows=>"5", :cols=>"70" %>
    </div>
    <div>
      <label for="priority" class="required"><b>*</b>Priority</label>
      <%= f.select(:priority) do %>
        <option value="Normal: 5-7 days (depending on project)">Normal: 5-7 days (depending on project)</option>
        <option value="PRIORITY: 3-5 days (weekdays only)">PRIORITY: 3-5 days (weekdays only)</option>
        <option value="URGENT: 1-2 days (may require OT)">URGENT: 1-2 days (may require OT)</option>
      <% end %>
    </div>
    <div>
      <label for="target_date" class="required"><b>*</b>Target Date</label>
     <%# f.text_field(:target_date,:type=>"date") %>
     <%= f.text_field(:target_date,:placeholder=>"10/31/2013",:type=>"text",:class=>"datepicker hasDatepicker",:id=>"first-date-input") %>
    </div>
    <div>
      <label for="delivery_opt" class="required"><b>*</b>Delivery Option</label>
      <%= f.select(:delivery_opt) do %>
        <option value=""></option>
        <option value="Courier (Houston)" name="courier">Courier (Houston)</option>
        <option value="Electronic File Only" name="electronic" >Electronic File Only</option>
        <option value="Mail (Non-Houston)" name="mail">Mail (Non-Houston)</option>
        <option value="WT-1500 Mailroom" name="mailroom">WT-1500 Mailroom</option>
      <% end %>
      <span class="right"></span>
    </div>
    <div style="display:none;" id="delivery_address">
    	<label for="delivery_address">Delivery Address</label>
		<%= f.text_field :delivery_address,:required => false, :placeholder=>"100 Main St, Anytown, TX 77043"%>
    </div>
    <div style="display:none;" id="mailroom_carrier_options">
    	<b>Where should the mailroom deliver your request?</b>
    	<span><label for="building">Building</label>
		<%= f.text_field :building,:required => false, :placeholder=>"" %></span>
		<span><label for="floor">Floor</label>
		<%= f.text_field :floor,:required => false, :placeholder=>"" %></span>
		<span><label for="room">Room</label>
		<%= f.text_field :room,:required => false, :placeholder=>"" %></span>
    </div>
    <div>
      <label for="job_ref">Past Reference Number</label>
      <%= f.text_field :job_ref%>
    </div>
    <div>
      <label for="quantity" class="required"><b>*</b>Quantity</label>
      <%= f.number_field(:quantity, in: 0..99999999, step: 1) %>
    </div>
    <div>
      <label for="size" class="required"><b>*</b>Size</label>
      <%= f.select(:size) do %>
        <option value=""></option>
        <option value='Standard Flyer 8.5"x 11"'>Standard Flyer 8.5"x 11"</option>
        <option value='Standard Poster 24"x 36"'>Standard Poster 24"x 36"</option>
        <option value='Standard Banner w/ grommets 42" max height'>Standard Banner w/ grommets - 42" max height</option>
        <option value='Pull-up Banner - approx. 7ft high'>Pull-up Banner - approx. 7ft high</option>
        <option value='Other: Explain in Detailed Desc'>Other: Explain in Detailed Desc</option>
        <option value='Open for Creativity' >Open for Creativity</option>
      <% end %>
    </div>
    <div>
    <label for="size" class="required"><b>*</b>Payment Method</label>
      <%= f.select(:payment_method) do %>
		<option value=""></option>
        <option value='PCARD'>PCARD</option>
        <option value='PO'>PO</option>
      <% end %>
      <span style="display:none;" class="right" id="po_field"><label for="purchase_order">Enter PO Number</label>
		<%= f.text_field :purchase_order,:required => false, :placeholder=>"PO#" %></span>
    </div>
    <div>
      <label for="cc_email">Add'l Notification Email</label>
      <%= f.text_field(:cc_email,:placeholder=>"comma seperated email addresses, no space", :size => 150) %>
    </div>
    
     <%= content_tag(:h2, "Uploading Files? Submit this form to receive file upload instructions.", class: ["question"])%>
    <div id="">
      <%= f.submit "Send", :class => 'btn'%> 
      <%= f.submit "Clear Fields", :type => "reset", :class => 'btn' %>
     
    </div>
</div>
<% end %>

