<%@n = 1944 if @bhpb_form.id >= 139%>
<%@n = 1975 if @bhpb_form.id < 139%>
<table class="container splash-page">
            <tr>
              <td>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h1 class="leadHeading">Hi, <%= @bhpb_form.name %> </h1>
                						<p class="lead">Your request has been received and is being reviewed.</p>
                						<p>You will receive an email as a record of your request.</p>

                						
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>  
                    <table class="twelve columns">
                        <tr>
                          <td class="panel sub-grid">
                            <h5>Summary: Job #<%= @bhpb_form.id.to_i + @n%></h5>
                        
                            <table>
                            	<tr>
                            		<td class="four sub-columns panel header"><b>Item</b></td><td class="eight sub-columns panel header">
                                <b>Value</b></td>
                            	</tr>


                            	<tr>
                            		<td class="four sub-columns panel"><b>Req For Name</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.name %></td>
                            	</tr>
                            	<tr>
                            		<td class="four sub-columns panel"><b>Email:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.email %></td>
                            	</tr>
                            	<tr>
                            		<td class="four sub-columns panel"><b>Phone:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.phone %></td>
                            	</tr>
                            	<tr>
                            		<td class="four sub-columns panel"><b>Category type:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.category_type %></td>
                            	</tr>
                            	<tr>
                            		<td class="four sub-columns panel"><b>Activity:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.activity %></td>
                            	</tr>
              								<tr>
              									<td class="four sub-columns panel"><b>Csg:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.csg %></td>
              								</tr>
              								<tr>
              									<td class="four sub-columns panel"><b>Department:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.department %></td>
              								</tr>
              								<tr>
              									<td class="four sub-columns panel"><b>Summary:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.summary %></td>
              								<tr>
              									<td class="four sub-columns panel"><b>Description:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.description %></td>
              								</tr>
                              <tr>
              									<td class="four sub-columns panel"><b>Priority:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.priority %></td>
              								</tr>
                              <tr>
              									<td class="four sub-columns panel"><b>Target date:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.target_date %></td>
              								</tr>
                              <tr>
              									<td class="four sub-columns panel"><b>Delivery opt:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.delivery_opt %></td>
              								</tr>
								<% if @bhpb_form.delivery_opt == "Courier (Houston)" or @bhpb_form.delivery_opt == "Mail (Non-Houston)"  %>
									<tr>
	              						<td class="four sub-columns panel"><b>Delivery Address:</b></td><td class="eight sub-columns panel">
	                                	<%= @bhpb_form.delivery_address %></td>
	              					</tr>
              					
              					<% elsif @bhpb_form.delivery_opt == "WT-1360 Mailroom" %>
              						<tr>
	              						<td class="four sub-columns panel"><b>Delivery Address:</b></td><td class="eight sub-columns panel">
	                                	1360 Post Oak Blvd. Suite 150 Houston, TX 77056<br>
	                                	<b>Attn:</b><i>Building <%= @bhpb_form.building %>, Floor <%= @bhpb_form.floor %>, Room <%= @bhpb_form.room %></i>
	                                	<%= @bhpb_form.delivery_address %></td>
	              					</tr>
              					<% end %>
                              <tr>
              									<td class="four sub-columns panel"><b>Job ref:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.job_ref %></td>
              								</tr>
                              <tr>
              									<td class="four sub-columns panel"><b>Quantity:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.quantity %></td>
              								</tr>
                              <tr>
              									<td class="four sub-columns panel"><b>Size:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.size %></td>
              								</tr>
								<% if @bhpb_form.payment_method == "PO" %>
                              		<tr>
              							<td class="four sub-columns panel"><b>Payment Method:</b></td><td class="eight sub-columns panel">
                                		<%= @bhpb_form.payment_method %>: #<%= @bhpb_form.purchase_order %></td>
              						</tr>
                              <% elsif @bhpb_form.payment_method == "PCARD" %>
                              		<tr>
              							<td class="four sub-columns panel"><b>Payment Method:</b></td><td class="eight sub-columns panel">
                                		<%= @bhpb_form.payment_method %></td>
              						</tr>
                              <% end %>
                              <tr>
              									<td class="four sub-columns panel"><b>Cc email:</b></td><td class="eight sub-columns panel">
                                <%= @bhpb_form.cc_email %></td>
              								</tr>


                            </table>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                <table class="row">

                  <tr>
                    <td>
                      <h4 class="leadHeading">Uploading the Files:</h4>
                    </td>
                  </tr>
                   <tr>
                    <td colspan="2">
                      <ol>
                        <li>Go to FTP Solution <a href="https://sft.bhpbilliton.com">https://sft.bhpbilliton.com</a>, log in with network credentials (PC login)</li>

                        <li>Type Bella Becho in the Find File/Folder Textbox </li>
                          <img class="findfile" src="/assets/findfile.jpg"> 

                        <li>Click search tool <img class="searchtool" src="/assets/searchtool.png"></li>

                        <li>Click /Distribution/PET/External Shares - Company Specific/Bella Becho(Graphics)/
                            <ul><li>If you are unable to see this folder please contact Petroleum Secure FTP   
                                    Request, and state that you need access to Bella Becho (Graphics)</li>

                                <li>Once you have been granted access to the folder, Petroleum Secure FTP   
                                   Requests will send you an email notification stating you now have access to 
                                   the Bella Becho (Graphics) folder. Proceed to step 5.</li></ul></li>


                        <li>Click <img class="addfolder" src="/assets/addfolder.jpg">,to create a folder using the Request Number issued with your order request (the number appears at the top of your order Example:  Summary: Request #1234)</li>

                        <li>You can choose to install Upload/Download Wizard by clicking Launch Upload/Download Wizard (if you do not see this option please click IS Procedures – Petroleum – Secure File Transfer (SFTP) to enable the Upload/Downlaod Wizard, or click <b>Choose File</b> to upload files individually. <br><img class="uploadafile" src="/assets/uploadafile.jpg"></li>

                        <li>In the MoveIt Upload Wizard Popup click <b>Add File</b>, navigate to desire file(s), click <b>Open</b>, you'll click <b>Next</b> twice, Click <b>Ok</b></li>
                        <li>Files have been successfully upload the Graphics team will complete your request </li>
                      </ol> 
                    </td>
                  </tr>  
                  <tr>

                  <tr>
                    <td class="wrapper last">
                      <table class="twelve columns">
                        <tr>
                          <td align="center">
                            <center data-no-turbolink>
                              <%= link_to 'Send Another Request', new_bhpb_form_path, class: "btn" %>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
              <!-- container end below -->
              </td>
            </tr>
          </table>



