// Place all the styles related to the BhpbForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* @import _variables;
@import _layouts;
@import _forms; */
/* Variables */
$footer-height: 6em;
/* Mixins */
@mixin gradient-vertical($start-color: #fff, $end-color: #AFAFAF, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}
/* Globals */
* {margin: 0;}
html {background-color: #ddd; height: 100%;}
body {padding:0;margin:0;border:none; height: 100%;}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -10;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
/* Layouts */
.container {
    position: relative;
    width: 101%;
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
div.header {
	width: 100%;
    background-color: #FFF;
    margin-bottom: 10px;

    span.logo {
    	background-image: image-url('BHPBillitonLogo.jpg');
	    width: 600px;
	    height: 70px;
	    display: block;
	    background-repeat: no-repeat;
	    background-position: left center;
    }
    .tools-bar {
	    width: 100%;
	    background-color: #E4E4E4;
	    border-bottom: 2px solid #bbb;
	    height: 30px;
	    padding-right: 2em;

	    ul {
	    	margin-right: 20px;
	    }
	    li {
		    list-style: none;
		    float: right;
		    position: relative;
		    margin: 8px;
		    font: .8em Arial;
		}
		
	}
}
.splash-page p {
	max-width: 660px;
    word-wrap: break-word;
}
.footer, .push {
	height: $footer-height;
}

.footer {
		width: 100%;
	    background-color: #E4E4E4;
	    border-bottom: 2px solid #bbb;
	    padding: 10px 20px;
		.contacts {
		    width: 60%;
		    float: left;
		    span.contact-person {
			    display: block;
			    width: auto;
			    float: left;
			    margin-right: 15px;
			}
		}
	    .locations {
		    width: 36%;
		    float: right;
		    li {
		    	float: right;
		    	width: 150px;
		    	margin-right: 15px;

		    	b {
		    		display: block;
		    		width: 100%;
		    	}
		    }
		}
		ul {
			padding: 0;
		}
	    li {
	    	list-style: none;
	    }
}

/* Forms */
div#content-container {
	width: 660px;
    border: 1px solid #888;
    margin: 0 auto (-$footer-height);
    background-color: white;
    padding:0 10px;
    font-family: Arial;
    font-size: .7em;


	
	div {
		padding: 6px;
	    margin: 5px;
	    

	    label {
	    	float: left;
	    	margin-right: 1em;
	    	width: 10em;
	    	color: black;

	    	b {
	    		position: relative;
	    		left: -0.3em;
	    	}

	    	&.required {
	    		color: red;
	    	}
	    }
	    input {
	    	width: 220px;
	    }
	    input[type=submit], input[type=reset] {
	    	width: auto;
	    }
	    .right {float:right;}

	    &#mailroom_carrier_options {
		    position: relative;
		    margin-left: 12em !important;
		    span {
		    	display:block;
		    }
		    span input{
		    	width: 7em;
		    }
		    span label {
		    	text-align:right;
		    }
		}
	}
}

/* Buttons */

.btn {
	padding: 4px;
	background-color: #555;
	@include gradient-vertical();
	border-radius: 3px;
	border:1px solid #888;
	text-decoration: none;
	color: #000;
	font-size: 13px;
	font: verdana, arial, Helvetica, sans-serif;
}

/* Alerts */

p {

	&#alert, &#notice {
	display: block;
    text-align: center;
    color: #F00;
    font-weight: bold;
    font-size: 13px;
	}
}

.splash-page{
	table.four { width: 180px; }
	table.twelve { width: 580px; }
	table.container {
	  width: 580px;
	  margin: 0 auto;
	  text-align: inherit;
	}
	table.row { 
	  padding: 0px; 
	  width: 100%;
	  position: relative;
	}

	table.container table.row {
	  display: block;
	}

	td.wrapper {
	  padding: 10px 20px 0px 0px;
	  position: relative;
	}

	table.columns,
	table.column {
	  margin: 0 auto;
	}

	table.columns td, 
	table.column td {
	  padding: 0px 0px 10px; 
	}

	table.columns td.sub-columns,
	table.column td.sub-columns,
	table.columns td.sub-column,
	table.column td.sub-column {
	  padding-right: 10px;
	}

	td.sub-column, td.sub-columns {
	  min-width: 140px;
	 
	}

	table.row td.last,
	table.container td.last {
	  padding-right: 0px;
	}
	/* Panels */

	.panel {
	  background: #f2f2f2;
	  border: 1px solid #d9d9d9;
	  padding: 10px !important;
	}

	.sub-grid table {
	  width: 100%;
	}

	.sub-grid td.sub-columns {
	  padding-bottom: 0;
	}
	h5 {
		color: #222222;
	  font-family: "Helvetica", "Arial", sans-serif; 
	  font-weight: normal; 
	  padding:0; 
	  margin: 0;
	  text-align: left; 
	  line-height: 1.3;
	  word-break: normal;
	  font-size: 24px;
	}
	 .header {
	      background: #999999;
	    }
}

/* table- index page */
.index_table {

 td {padding-left: 30px;}
 a 		    {color: blue;}
 a:visited  {color: #0357FF;}
 a:hover    {color: orange;}
 
}

/* btns- index page */
.index_btn {
 .btn {margin-right: 5px;}
}
