
<%= form_tag user_sessions_path, :method => :post do %>
<div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Login", class: "btn"%>
    <%= link_to "Register", new_user_path, class: "btn" %>
  </div>
<% end %>  